/* Coolors Exported Palette - coolors.co/0a2239-1d84b5-134074-2f6690-3a7ca5 */

/* HSL */
$color1: hsla(209%, 70%, 13%, 1);
$color2: hsla(199%, 72%, 41%, 1);
$color3: hsla(212%, 72%, 26%, 1);
$color4: hsla(206%, 51%, 37%, 1);
$color5: hsla(203%, 48%, 44%, 1);

/* RGB */
$color1: rgba(10, 34, 57, 1);
$color2: rgba(29, 132, 181, 1);
$color3: rgba(19, 64, 116, 1);
$color4: rgba(47, 102, 144, 1);
$color5: rgba(58, 124, 165, 1);